@font-face {
  font-family: "Icons";
  src: url("fonts/SymbolsNerdFont-Regular.ttf");
}

.icon_github::before {
  font-family: "Icons";
  content: "";
}

.icon_download::after {
  font-family: "Icons";
  content: "";
  font-size: 120%;
}
